@import "/src/Styles/index.css";

/* Estilo geral */
.about-courses {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5vw;
  border-radius: 15px;
  color: white;
  gap: 2rem;
}

/* Seção de informações e imagem */
.info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 2rem;
}

.course-img img {
  border-radius: 15%;
  width: 250px;
  height: 250px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}

.course-details {
  text-align: center;
  color: var(--preto);
}

.course-titlee {
    font-size: 2.5vw;
    color: var(--preto);
    font-weight: bold;
    text-align: center;
}

.course-description {
  font-size: 1.2rem;
  line-height: 1.6;
}

.course-days {
  margin-top: 2rem;
  font-size: 1.5rem;
}

.days-info {
  font-size: 1.1rem;
}

/* Seção do Mapa */
.map-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.course-map {
  width: 45vw;
  height: 90vh;
  border: none;
}

/* Responsividade */
@media (max-width: 991px) {
  .about-courses {
    flex-direction: column;
    gap: 3rem;
  }

  .info-section {
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 10vw;
  }


  .course-img img {
    width: 20vh;
    height: 20vh;
  }

  .course-titlee {
    font-size: 4vw;
  }

  .course-description,
  .days-info {
    font-size: 2vw;
  }

  .course-map {
    margin-top: -10vw;
    height: 30vw;
    width: 40vw;
  }
}

@media (max-width: 600px) {
  .course-description,
  .days-info {
    font-size: 0.9rem;
  }

  .course-map {
    width: 90vw;
    height: 50vh;
    margin-bottom: 2rem;
    margin-top: -2rem;
  }
}
