/* Container principal */
.about-speaker {
    min-height: 100vh; /* Para garantir que ocupe toda a altura da tela */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container principal da tela */
.container-sections {
    width: 100%;
    height: 100vh; 
    display: flex;
    position: relative;
    box-sizing: border-box;
}

/* Seção de imagem à esquerda */
.about-img-speaker {
    position: relative; /* Para o posicionamento do pseudo-elemento */
    flex: 0 0 40%; /* Ocupa 40% da largura */
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    row-gap: 7rem;
    margin-top: -150px;
}

.about-img-speaker::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../Assets/Tucano.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5; /* Define a opacidade da imagem */
    z-index: -1; /* Coloca a imagem atrás do conteúdo */
}


.about-img-name{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 5rem;
}
/* Imagem circular que "sai" para o lado direito */
.about-img-speaker img {
    position: relative;
    top: 5rem;
    border-radius: 10%;
    transition: 0.4s ease-in-out;
    width: 20rem;
    height: 20rem;
}

.about-img-speaker h2 {
    font-size: 3rem;
    padding-bottom: 2rem;
    font-weight: bold;
    background: linear-gradient(to right, #471A3D, #8e427d, #BA71D9);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* Faixa Vertical de Ícones */
/* Faixa Vertical de Ícones */
.icon-container {
    flex: 0 0 20%; /* Ocupa 20% da largura */
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    row-gap: 7rem;

    margin-top: -150px;

    background-color: rgba(234, 234, 234, 0.647);
}

.icon-btn {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid var(--branco);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: flex; /* Alinha o ícone no centro */
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
}

.icon-btn:hover {
    transform: scale(1.1);
}

/* Estilização do ícone */
.icon {
    font-size: 2.5rem; /* Ajusta o tamanho do ícone */
    color: var(--Secundary-Color); /* Cor do ícone */
}


/* Seção de informações à direita */
.about-content-speaker {
    flex: 0 0 40%; /* Ocupa 40% da largura */
    text-align: center;
    padding: 20px;
    height: 100%; 
    overflow-y: auto; 
    color: black;

    margin-top: 100px;
}

/* Estilização do título e texto dentro da seção */
.about-content-speaker h2 {
    font-size: 3rem;
    padding-bottom: 2rem;
    font-weight: bold;
    background: linear-gradient(to right, #471A3D, #8e427d, #BA71D9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.about-content-speaker p {
    font-size: 1rem;
    margin: 2rem 0 3rem;
    text-align: justify;
    color: black;
}

/* Responsividade */
@media(max-width: 768px) {
    .container-sections {
        flex-direction: column; /* Alinha as seções verticalmente */
        height: auto; /* Ajusta a altura para auto em telas menores */
    }
    .about-img-speaker {
        width: 100%; /* Seção de imagem ocupa 100% da largura */
    }
    .icon-container {
        width: 100%; /* Faixa de ícones ocupa 100% da largura */
    }
    .about-content-speaker {
        width: 100%; /* Seção de conteúdo ocupa 100% da largura */
        padding: 10px; /* Ajusta o padding em telas menores */
    }
}
