/* Container principal */
.about-speaker {
    min-height: 100vh; /* Para garantir que ocupe toda a altura da tela */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container principal da tela */
.container-sections {
    width: 100%;
    height: 100vh; 
    display: flex;
    position: relative;
    box-sizing: border-box;
}

/* Seção de imagem à esquerda */
.about-img-speaker {
    position: relative; /* Para o posicionamento do pseudo-elemento */
    flex: 0 0 40%; /* Ocupa 40% da largura */
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    row-gap: 7rem;
    margin-top: -150px;
}

.about-img-speaker::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../Assets/Tucano.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5); /* Cor preta com opacidade */
    z-index: -1; /* Garante que fique atrás do conteúdo */
}

/* Aplicando um efeito de escuridão */
.about-img-speaker::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Cor preta com transparência */
    z-index: -1; /* Fica atrás do conteúdo */
}


.about-img-name{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 5rem;
}

.about-img-speaker img {
    position: relative;
    top: 5rem;
    border-radius: 10%;
    transition: 0.4s ease-in-out;
    width: 20rem;
    height: 20rem;
}

.about-img-speaker h2 {
    font-size: 3rem;
    padding-bottom: 2rem;
    font-weight: bold;
    background-clip: text;
}


.icon-container {
    flex: 0 0 10%;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    row-gap: 7rem;
    margin-right: 100px;

    margin-top: -150px;

    background-color: rgba(234, 234, 234, 0.647);
}

.icon-btn {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid var(--branco);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
}

.icon-btn:hover {
    transform: scale(1.1);
}


.icon {
    font-size: 2.5rem; 
    color: var(--Secundary-Color); 
}



.about-content-speaker {
    flex: 0 0 40%;
    text-align: center;
    padding: 20px;
    height: 100%; 
    overflow-y: auto; 
    color: black;

    margin-top: 100px;
}


.about-content-speaker h2 {
    font-size: 3rem;
    padding-bottom: 2rem;
    font-weight: bold;
    background: linear-gradient(to right, #471A3D, #8e427d, #BA71D9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.about-content-speaker p {
    font-size: 1rem;
    margin: 2rem 0 3rem;
    text-align: justify;
    color: black;
}

/* Responsividade */
@media (max-width: 768px) {
    .container-sections {
        flex-direction: column;
        height: auto; 
    }
    
    .about-img-speaker, .about-content-speaker {
        width: 100%;
        margin: 0;
        padding: 0;

        margin-bottom: -100px;
    }
    .about-img-speaker img {
        margin-top: 7rem;
    }
    
    .about-img-speaker h2 {
        color: black;
        margin: -50px;
    }

    /* Ocultar o background para telas menores */
    .about-img-speaker::before,
    .about-img-speaker::after {
        display: none;
    }

    .icon-container {
        width: 100%; 
        margin: 20px 0;
        flex-direction: row; 
        justify-content: center; 
        gap: 20px;
        background-color: transparent;
        margin-top: -100px;
    }

    .icon-btn {
        width: 60px;
        height: 60px;
    }

    .icon {
        font-size: 1.5rem;
    }

    .icon-btn + p {
        font-size: 0.8rem;
        margin-top: 5px;
        text-align: center;
    }

    .about-content-speaker {
        padding: 10px;
    }
}
