

.colaboradores {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.colaboradores-container {
    text-align: center;
}

.heading-colaboradores {
    ont-size: clamp(2rem, 3.5vw, 4rem);
    color: var(--preto);
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.heading-colaboradores span {
    background: linear-gradient(to right,   #471A3D,
                                            #8e427d,
                                            #BA71D9);
                -webkit-background-clip: text; /* Para navegadores WebKit (Chrome, Safari) */
                -webkit-text-fill-color: transparent; /* Torna o texto transparente */
                background-clip: text; /* Para outros navegadores */
    transition: color 0.3s ease-in-out;
}

.carts-container {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: .5rem;
    text-align: center;
    

}

.collaborator-card{
    display: flex;
    background-color: var(--Primary-Type-2);
    height: 100%;
    width: 80%;
    border-radius: .5rem;
    border: 5px solid transparent;
    transition: 0.4s ease-in-out;
}

.colaboradores-section h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--Primary-Type-2);
}

.colaboradores-section p,
.colaboradores-section ul {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.colaboradores-section ul li {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

#titulo-realizacao{
    text-align: center;
}

#realizacao{
    margin-top: 4rem;
}


.colaborador-img {
    width: 150px;
    height: auto;
    margin-left: 1rem;
}

#leticia{
    border-radius: 100px;
}

/* Responsivo */
@media (max-width: 1250px) {
    .colaboradores-section {
        margin-bottom: 2rem;
    }
    .heading-colaboradores {
        font-size: 4.2rem;
        margin-top: 50px;
    }
    .colaboradores-section h2 {
        font-size: 3rem;
        line-height: 2;
        margin-top: 50px;
    }
    .colaboradores-section p,
    .colaboradores-section ul {
        font-size: 1.6rem;
    }
}
@media (max-width: 991px) {
    .carts-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .colaboradores-section {
        margin-bottom: 1rem;
    }
    .colaboradores-section h2 {
        font-size: 2rem;
        margin-top: 0px;
    }
    .colaboradores-section p,
    .colaboradores-section ul {
        font-size: 1.4rem;
        text-align: justify;
    }
}

@media (max-width: 600px) {
    .colaboradores-container {
        margin-top: -5rem;
    }
    .heading-colaboradores {
        font-size: 2.5rem;
    }

    .colaboradores-section h2 {
        font-size: 1.6rem;
    }

    .colaboradores-section p,
    .colaboradores-section ul {
        font-size: 1.4rem;
    }
}
