.contact-area {
    margin-top: 80px;
    padding: 5rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;    
}
.contact-area h1 {
    font-size: 80px;
    text-align: center;
    color: #F2C879;
}
.contact-area h2 {
    font-size: 30px;
    text-align: center;
    color: #94E1F2;
}
.contact-area h2:hover {
    background: linear-gradient(to right,  #F2A2D6,
    #BA71D9,
    #94E1F2,
    #94FD8E,
    #F2C879);
-webkit-background-clip: text; /* Para navegadores WebKit (Chrome, Safari) */
-webkit-text-fill-color: transparent; /* Torna o texto transparente */
background-clip: text; /* Para outros navegadores */
}
.contact-area p {
    text-align: center;
    font-size: 30px;
    padding: 20px;
    color: #F2C879;
}
.text-section {
    padding: 10px;
}
.social-icon-footer { /*Caso queira remover a centralização dos icones, é só apagar esse aqui*/
    display: flex;
    justify-content: center;
}
.social-icon-footer a {
    margin: 20px;
}
.social-icon-footer a img {
    width: 50px;
    height: 50px;
}
