/* ./CoursesArea.css */
.courses-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 300px)); /* Define largura minima e maxima */
  grid-auto-rows: 1fr; /* Garante que todas as linhas tenham a mesma altura */
  grid-auto-columns: 1fr; /* Garante que todas as colunas tenham a mesma altura */
  grid-gap: 30px;
  margin: 90px auto;
  justify-content: center;
}

@media (max-width: 1250px) {
  .courses-container {
    grid-template-columns: repeat(2, minmax(200px, 350px));
    grid-gap: 30px;
  }
}

@media (max-width: 700px) {
  .courses-container {
    grid-template-columns: repeat(1, minmax(200px, 350px));
    grid-gap: 30px;
  }
}

.course-card {
  background-color: #0D0D0D;
  border: 1px solid #F2C879;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 8px 8px 8px #F2A2D6;
  flex-direction: column;
}

.course-image {
  max-width: 180px;
  margin: 10px auto 0;
}

.course-content {
  padding: 15px;
}

.course-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 10px;
  color: #FFFFFF;
}

.course-description {
  font-size: 14px;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.course-button {
  padding: 10px 15px;
  background: #F2A2D6;
  color: #0D0D0D;
  border: #FFFFFF 1px solid;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.course-button:hover {
  transform: scale(1.1);
}

.course-button:active {
  background-color: #94E1F2;
}
