@import "/src/Styles/index.css"; 
.countdown-container {
    margin-top: 25vh;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #ffff;
    text-align: center;
  }

  .chamada{
    font-size: 3vw;
    padding-bottom: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 0; 
  }
  
  .subtexto{
    font-size: 1.2vw;
  }
  
  .ticket-button {  
    margin-top: 3.5vw;
    max-height: 100%;
    padding: 10px 20px;
    background-color: var(--Dark-Green);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1.1rem;
    cursor: pointer;
  }
  
  .ticket-button:hover {
    background-color: var(--Primary-Type-2);
  }
  
  .countdown {
    margin-top: 5vw;
    justify-content: center;
    display: flex;
    gap: 30px;
  }
  
  .countdown-item {
    background-color: var(--Primary-Color);
    color: #ffff;
    padding: 20px;
    border-radius: 5px;
    width: 40vh;
  }
  
  .countdown-item span {
    display: block;
    font-size: 2rem;
    font-weight: bold;
  }
  
  .label {
    margin-top: 10px;
    font-size: 1rem;
  }
  