@import "/src/Styles/index.css";

.home {
  
  background-image: url('../Assets/Tucano.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh; 
  margin: 0; 
  padding: 0;
  position: relative; 
  overflow-x: hidden; 
}
.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.751);
  z-index: -0; 
}

.home-container{
  margin-top: 2rem;
  width: 100%;
  max-width: 1200px; /* Limita a largura dos elementos, mas não afeta o fundo */
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}
.btn{
  display: inline-block;
  padding: 0.5rem 2.6rem;
  border-radius: 4rem;
  font-size: 1.3rem;
  color: var(--branco);
  border: 2px solid transparent;
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  border-color: #edecec;
  text-decoration: none;
}
.btn:hover{
  transform: scale(1.05);
  box-shadow: 0 0 25px var(--branco);
}
.info-btn{
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.home-banner-container {
    position: relative;
    display: flex;
    align-items: center;
    padding: 4rem; /*foi alterado*/
  }
  .home-bannerImage-container {
    position: absolute;
    top: -100px;
    right: -170px;
    z-index: -2;
    max-width: 700px;
  }
  .home-image-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Espaçamento entre os losangos */
    margin-right: 10rem;
    padding-top: 2rem;
  }
  
  .home-image-section img {
    width: 400px; /* Ajuste o tamanho conforme necessário */
    height: 300px; 
    object-fit: cover;
    
    border-radius: 20px; /* Bordas arredondadas para suavizar */
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    transition: transform 0.3s ease-in-out;
  }
  
  .home-image-section img:hover {
    transform: scale(1.05); /* Efeito de hover para aumentar o losango */
  }
  
  .home-text-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /*foi alteado ... era flex-end*/

    
  }
  .home-text-section p{
    opacity: 0.8;
  }
  .heading-home {
    font-size: 3rem;
    color: var(--branco);
    /* line-height: 5rem; */
    max-width: 600px;
    text-align: center;
    font-style: italic;
    
    
  }
  .heading-home span {
    font-size: 4rem;
    background: linear-gradient(to right,  #F2A2D6,
                                            #F2C879);
                -webkit-background-clip: text; /* Para navegadores WebKit (Chrome, Safari) */
                -webkit-text-fill-color: transparent; /* Torna o texto transparente */
                background-clip: text; /* Para outros navegadores */
    transition: color 0.3s ease-in-out; 
   
  }
  .heading-home span:hover {
    transform: scale(1.1);
  }
  .primary-text {
    font-size: clamp(1rem, 3vw, 1.5rem);
    max-width: 500px;
    color: #edecec;
    margin: 1.5rem 0rem;
  }
  
  .secondary-button {
    padding: 1rem 2.5rem;
    background-color: #fe9e0d;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    color: white;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .secondary-button svg {
    margin-left: 0.75rem;
    font-size: 1.5rem;
  }
  .secondary-button:hover {
    background-color: #e48f0f;
  }


  @media (max-width: 1200px){

}

@media (max-width: 991px){

  .home {
    background-size: cover; /* Garante que a imagem continue cobrindo a tela */
    background-position: top center; /* Ajusta a posição da imagem em telas pequenas */
    min-height: 100vh; /* Garante que cubra a altura da viewport */
  }
}

@media (max-width: 895px){
  .home-image-section{
    max-width: 400px;
    max-height: 350px;
  }
  .home-text-section .heading-home{
    font-size: 3rem;
  }
  .home-text-section .heading-home span{
    font-size: 4rem;
  }
  .home-text-section p{
    font-size: 14px;
  }
  .btn{
    margin-top: 25px;
    height: 4rem;
    width: 160px;
    align-content: center;
  }
  .info-btn{
    align-content: center;
    font-size: 2rem;
  }
  .heading-home,
  .primary-text,
  .btn {
    text-align: center;
    align-self: center;
  }
}
  @media (max-width: 600px){
  
    .home-container {
      margin-top: 0; 
    }
    .home-text-section .heading-home{
      font-size: 3rem;
      text-align: center;
    }
    .home-text-section .heading-home span{
      font-size: 3.3rem;
    }
    .home-text-section .primary-text{
      margin-top: 20px;
    }
    .btn{
      margin-top: 50px;
    }
  }