
:root {
    --rosa: #F2A2D6;
    --roxo: #BA71D9;
    --azul: #94E1F2;
    --verde: #94FD8E;
    --amarelo: #F2C879;
    --preto: #0D0D0D;

   
    --branco: #FFFFFF;

    --Primary-Color: #471A3D;

    --Primary-Type-2: #8e427d;

    --Secundary-Color: #9C061F;

    --Dark-Green: #1B5C27;

    --Light-Green: #069C22;
}