
  .header{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(29, 29, 29, 0.3);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    width: 100%;
}
  .logo{
    width:175;
    height:35;
    font-size: 2.5rem;
    color: var(--Primary-Type-2);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
    text-decoration: none;
    }
    
  .navbar-menu-container {
    display: none;
    color: white;
  }
  .navbar-links-container {
    display: flex; /* Exibe o menu de links no layout normal */
    justify-content: space-between;
  }
  .navbar-links-container a {
    margin-right: 3rem;
    text-decoration: none;
    color: var(--branco);
    font-size: 1.1rem;
    font-weight: 600;
  }
  .navbar-links-container a:hover{
    transform: scale(1.1);
    z-index: 1; 
    font-size: 1.2rem;
    transition: transform 0.3s ease, font-size 0.3s ease; 
    text-decoration:underline;
  }
  .navbar-cart-icon {
    font-size: 1.15rem;
  }

  .navbar-menu-container svg {
    font-size: 1.5rem;
    cursor: pointer;
  }
  .nav-logo-container{
    padding: 1rem;
    margin-left: 2.5rem;
    transition: 0.3s ease;
  }
  .nav-logo-container:hover{
    transform: scale(1.1);
  }
  .navbar-logout-button{
    padding: 0.2rem 1.5rem;
    outline: none;
    border: 2px solid var(--branco); 
    border-radius: 5rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
    color: black;
  }

.navbar-logout-button:hover {
  color: #ccc; 
  border-color: var(--Primary-Type-2);
}


  
  @media (max-width: 1200px){
    
    .logo,
    .navbar-menu-container .haburguer{
      font-size: 3.5rem;
      }
    .header{
      height: 7rem;
    }
    .navbar-menu-container{
      font-size: 4rem;
    }
  }

  @media (max-width: 600px) {
    .navbar-links-container {
      display: none;
    }
  
    .navbar-menu-container {
      display: flex; 
      margin-right: 2rem; 
    }
    .logo,
    .navbar-menu-container .haburguer{
      font-size: 6vh;
      }
    .header{
      height: 10vh;
    }
    .navbar-menu-container{
      font-size: 4rem;
    }
  }