@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.section-form {
    background-image: url('../Assets/background-acaizero.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.form-timeline{
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.input input,
.input select {
    width: 100%;
    padding: 0.5rem;
    border-radius: 20px;
    border: 1px solid #ccc;
    border-color: var(--Primary-Type-2);
    margin-bottom: 1rem;
}
.btn-add-activity{
    padding: 0.7rem;
    background-color: var(--Primary-Color);
    border: none;
    font-size: 0.9rem;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 1rem;
    color: white;
}
.btn-submit {
    padding: 0.7rem;
    background-color: var(--Primary-Type-2);
    border: none;
    font-size: 0.9rem;
    border-radius: 15px;
    cursor: pointer;
    margin: 1rem ;
    color: white;
}

.btn-submit:hover {
    background-color: var(--Primary-Color);
}
label.required::before {
    content: "*";
    color: red;
}