.container {
    background-color: var(--Primary-Color);
    opacity: 0.8;
    border-radius: 12px;
    padding: 20px;
    max-width: 90%;
    max-height: 90%;
    text-align: justify;
    margin-top: 6rem;
    color: #000;
}
.Btn, .Btn-img {
    height: 2.5rem;
    width: 10rem;
    padding: 8px;
    border-radius: 50px;
    font-size: small;
    background-color: #5c2c54;
}