.container {
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e5e5f7 10px ), repeating-linear-gradient(#471A3D, #BA71D9 );
    max-width: 90%;
    max-height: 90%;
    text-align: justify;
    margin-top: 6rem;
}
.Btn, .Btn-img {
    height: 2.5rem;
    width: 10rem;
    padding: 8px;
    border-radius: 50px;
    font-size: small;
    background-color: #5c2c54;
}