@import "../Styles/index.css";
.container {
    background: linear-gradient(to bottom, #5c2c54 50%, #ffffff 50%);
    max-height: 100vb;
}
.Btn, .Btn-img {
    height: 2.5rem;
    width: 10rem;
    padding: 8px;
    border-radius: 50px;
    font-size: small;
    background-color: #5c2c54;
}